---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>

<li>Zhou J, Chen Y, Qu J H, <strong>Wang Y K,</strong> Mai W N, Wan D J, Lu X Y. Responses of microbial community and antibiotic resistance genes to co-existence of chloramphenicol and salinity[J]. Applied Microbiology and Biotechnology, 2022. [<a href="https://doi.org/10.1007/s00253-022-12188-3" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>
</p>

