---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>

<li> Zhou X, Chen C, Zeng Y, Yang Z, Zhuo Y, <strong>Wang Y,</strong> Zhang L, Cai X, Guo X. Neoadjuvant chemoimmunotherapy combined with node-sparing radiotherapy for clinical T3N+ locally advanced esophageal squamous cell carcinoma: a prospective single-arm, phase II study (CINSREC trial). <em>Thorac Cancer</em>. 2025;16(22):e70191. [<a href="https://doi.org/10.1111/1759-7714.70191" target="_blank" rel="noopener noreferrer">Link</a>] [<a href="https://pubmed.ncbi.nlm.nih.gov/41255050/" target="_blank" rel="noopener noreferrer">PubMed</a>]</li>

<li> Song M, Ma S, Wang G, <strong>Wang Y,</strong> Yang Z, Xie B, Guo T, Huang X, Zhang L. Benchmarking copy number aberrations inference tools using single-cell multi-omics datasets. <em>Brief Bioinform</em>. 2025;26(2):bbaf076. [<a href="https://doi.org/10.1093/bib/bbaf076" target="_blank" rel="noopener noreferrer">Link</a>] [<a href="https://pubmed.ncbi.nlm.nih.gov/40037644/" target="_blank" rel="noopener noreferrer">PubMed</a>]</li>
  
<li>Zhou J, Chen Y, Qu J H, <strong>Wang Y K,</strong> Mai W N, Wan D J, Lu X Y. Responses of microbial community and antibiotic resistance genes to co-existence of chloramphenicol and salinity[J]. Applied Microbiology and Biotechnology, 2022. [<a href="https://doi.org/10.1007/s00253-022-12188-3" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Zhou J, Chen Y, Qu J H, <strong>Wang Y K,</strong> Li P L, Xu W L, Huang Y J, Mai W N. Isolation of the salt-tolerant bacterium <em>Halomonas</em> sp. A20 and its degradation of saccharin sodium wastewater. <em>Microbiology China</em>, 2022. [<a href="http://dx.doi.org/10.13344/j.microbiol.china.210521" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Patent: A biological contact oxidation device for wastewater treatment (Patent Substantive Examination Stage, Disclosure No. CN112979091A).</li>

</ol>
</p>

